<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cloud 9 - log out</title>
    <link rel="icon" type="image/x-icon" href="/static/icon.ico">
    <link rel="stylesheet" href="/static/styles.css">
    <link href='https://fonts.googleapis.com/css?family=Gugi' rel='stylesheet'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
<div class="navbar">
    <div class="name">
        <a href="/"><img src="/static/name_black.png" alt="photo"></a>
    </div>
    <div class="menu">
        <div class="search-bar">
            <form action="/cloud9/search" method="get">
                <label>
                    <input type="text" name="search" placeholder="Search">
                    <button type="submit"><i class="fa fa-search" style="font-size: 18px;"></i></button>
                </label>
            </form>
        </div>
        <div class="navbar-links">
            <a class="navbar-link" href="/profile">PROFILE</a>
            {% if customer %}
            <a class="navbar-link" href="/favorites">FAVORITES</a>
            <a class="navbar-link" href="/card">CARD</a>
            {% endif %}        </div>
    </div>
</div>
<div class="categories">
    <div class="black-bar">
        <a class="black-bar-link" href="/cloud9/search?search=T-SHIRT">T-SHIRTS</a>
        <a class="black-bar-link" href="/cloud9/search?search=SWEATSHIRT">SWEATSHIRTS</a>
        <a class="black-bar-link" href="/cloud9/search?search=JEANS">JEANS</a>
        <a class="black-bar-link" href="/cloud9/search?search=SHORTS">SHORTS</a>
        <a class="black-bar-link" href="/cloud9/search?search=SNEAKERS">SNEAKERS</a>
        <a class="black-bar-link" href="/cloud9/search?search=SHOES">SHOES</a>
    </div>
</div>
<div class="login">
    <form action="/logout" method="post">
        <h2>Do you want to log out?</h2>
        <div class="form-links">You are logged in as
            <a href="/profile">{{ user.username }}</a>
        </div>
        <div class="form-submit" style="margin-top: 2%">
            <input type="submit" value="LOG OUT">
        </div>
    </form>
</div>
<div class="footer">
    <div class="footer-name">
        <a href="/"><img src="/static/name.png" alt="photo"></a>
    </div>
</div>
</body>
</html>
